{% extends "layouts/admin-layout.html" %}

{% set pageName = entry.fields.Name %}
{% set selectedNav = "artefacts" %}
{% set setSelectedSideNav = "" %}
{% set backlog_issue_id = "" %}
{% set reportStep = 1%}
{% set showEntryNav = "true"%}
{% set showmasthead = "true" %}

{% block sidebar %}

    {% include "partials/nav.html" %}
{% endblock %}

{% block masthead %}

    <div class="main--inside-container">
        {% include "admin/partials/_admin_entry_header.html" %}
    </div>

{% endblock %}

{% block content %}

    <div class="main--inside-container">

        <div class="govuk-grid-row">

            <div class="govuk-grid-column-two-thirds">

                <h2 class="govuk-heading-l">Supporting artefacts</h2>

                <p>You can add links to supporting artefacts for your peer review. An artefact could be a lucid frame, document or a short slide deck.</p>
                <div class="govuk-summary-card">
                    <div class="govuk-summary-card__title-wrapper">
                        <h2 class="govuk-summary-card__title">Artefacts</h2>
                        <ul class="govuk-summary-card__actions">
                            <li class="govuk-summary-card__action">
                                <a class="govuk-link" href="/team/add-artefact/{{entry.fields.ID}}">
          Add artefact link<span class="govuk-visually-hidden"> to the review</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="govuk-summary-card__content">
                        {% if not artefacts.length %}

                            <p>No artefacts have been added.</p>

                        {% else %}
                            <table class="govuk-table">
                                <thead class="govuk-table__head">
                                    <tr class="govuk-table__row">
                                        <th scope="col" class="govuk-table__header">Artefact</th>
                                        <th scope="col" class="govuk-table__header">Added by</th>
                                        <th scope="col" class="govuk-table__header">Date added</th>
                                        <th scope="col" class="govuk-table__header">Action</th>
                                    </tr>
                                </thead>
                                <tbody class="govuk-table__body">
                                    {% for a in artefacts %}
                                        <tr class="govuk-table__row">
                                            <th scope="row" class="govuk-table__header">
                                                <a class="govuk-link" href="{{a.fields.URL}}" target="_blank">{{a.fields.Name}}</a>
                                            </th>
                                            <td class="govuk-table__cell">{{a.fields.CreatedBy.name}}</td>
                                            <td class="govuk-table__cell">{{a.fields.Created | date('D MMM YYYY')}}</td>
                                            <td class="govuk-table__cell">
                                                <a class="govuk-link"  href="/team/remove-artefact/{{entry.fields.ID}}/{{a.fields.ID}}">Remove</a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>

                            {% endif%}
                        </div>
                    </div>

                </div>

       
            <div class="govuk-grid-column-one-third">
                <h2 class="govuk-heading-m">Other resources and guidance</h2>

                <ul class="govuk-list govuk-list--spaced">
                    <li>
                        <a href="https://dfe-standards-manual-prototype.herokuapp.com/service-assurance/prepare-for-a-discovery-peer-review/what-to-prepare-for-a-peer-review" target="_blank">Guidance for what artefacts to provide</a>
                    </li>

                </ul>

            </div>
     </div>
        </div>

    {% endblock %}