{% extends "layouts/admin-layout.html" %}

{% set pageName = 'Edit details' %}
{% set setSelectedSideNav = "" %}
{% set backlog_issue_id = "" %}
{% if action === "add-team-member" or action === "remove-team-member"%}
{% set selectedNav = "team" %}
{% elseif action === "add-artefact" or action === "remove-artefact"%}
{% set selectedNav = "artefacts" %}
{% else %}
{% set selectedNav = "summary" %}
{% endif %}
{% set showmasthead = "true" %}

{% set showEntryNav = "true"%}

{% block sidebar %}
    {% include "partials/nav.html" %}
{% endblock %}

{% block masthead %}

    <div class="main--inside-container">
        {% include "team/partials/_admin_entry_header.html" %}
    </div>

{% endblock %}

{% block content %}

    <div class="main--inside-container">

        <div class="govuk-grid-row">

            <div class="govuk-grid-column-one-half">

                {% include "team/entry/_" + action + ".html" %}

            </div>
        </div>

    </div>

{% endblock %}

{% block scripts %}

    <script>
        {% if action === "add-panel-member" %}
            accessibleAutocomplete.enhanceSelectElement({selectElement: document.querySelector('.auto')})
        {% endif %}
    </script>
{% endblock %}