  {% set tasks = "false"%}

        {% for entry in active %}

            {% if entry.fields.SubStatus === "Team Review" %}

               {% set tasks = "true"%}
               {%endif%}
        {% endfor %}
            
            {% if  tasks === "true"%}


<div class="govuk-summary-card">
    <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">Your tasks</h2>
    </div>
    <div class="govuk-summary-card__content">

         <table class="govuk-table">

            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                     <th scope="col" class="govuk-table__header  govuk-!-width-one-half">Task</th>
                    <th scope="col" class="govuk-table__header">Service</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                 {% for entry in active %}

            {% if entry.fields.SubStatus === "Team Review" %}
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header"><a href="/team/report/preview/{{entry.fields.ID}}" class="govuk-link">View and accept assessment report <span class="govuk-visually-hidden"> for {{entry.fields.Name}}</span></a></th>
                    <td class="govuk-table__cell">{{entry.fields.Name}}</td>
                </tr>  
                {% endif%}
                {% endfor %}
            </tbody>
        </table>


       

     

    </div>
</div>            {% endif %}