<div class="govuk-summary-card">
    <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">Your tasks</h2>
    </div>
    <div class="govuk-summary-card__content">

        {% set tasks = "false"%}

        {% for entry in active %}

            {% if entry.fields.SubStatus === "Team Review" %}

               {% set tasks = "true"%}

                <div class="chevron-card chevron-card-full">
                    <div class="chevron-card__wrapper">
                        <h3 class="govuk-heading-s govuk-!-margin-bottom-2">
                            <a class="govuk-link chevron-card__link" href="/team/report/preview/{{entry.fields.ID}}">View and accept assessment report <span class="govuk-visually-hidden"> for {{entry.fields.Name}}</span></a>
                        </h3>

                        <p class="govuk-body chevron-card__description">{{entry.fields.Name}}</p>
                    </div>
                </div>

            {% endif %}
        {% endfor %}

        {% if  tasks === "false"%}
        <p>You have no tasks to action.</p>

        {% endif %}

    </div>
</div>