{% extends "layouts/admin-layout.html" %}

{% set pageName = "Dashboard" %}
{% set selectedNav = "dashboard" %}
{% set setSelectedSideNav = "" %}
{% set backlog_issue_id = "" %}

{% set showmasthead = "" %}
{% set showGenericNav = "true" %}
{% block sidebar %}

    {% include "partials/nav.html" %}

{% endblock %}



{% block content %}

    <div class="main--inside-container">

       
        <div class="govuk-grid-row">

            <div class="govuk-grid-column-full">
                <h1 class="govuk-heading-l ">Your dashboard</h1>
            </div>
        </div>

        <div class="govuk-grid-row">

            <div class="govuk-grid-column-two-thirds">
                {% include "admin/partials/_admin_tasks.html" %}

                <div class="govuk-grid-row">

                    <div class="govuk-grid-column-full">

                        {% include "admin/partials/_upcoming.html" %}
                    </div>

                    <div class="govuk-grid-column-one-half"></div>

                </div>

            </div>

            <div class="govuk-grid-column-one-third">

              
            </div>

        </div>
    </div>

{% endblock %}