<div class="govuk-summary-card">
    <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">Drafts</h2>
        
    </div>
    <div class="govuk-summary-card__content">

        <table class="govuk-table">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header  govuk-!-width-one-quarter">Service</th>
                    <th scope="col" class="govuk-table__header">Type</th>
                    <th scope="col" class="govuk-table__header">Phase</th>
                    <th scope="col" class="govuk-table__header">Last edited</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
              
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header"><a href="">My draft</a></th>
                    <td class="govuk-table__cell">Peer review</td>
                    <td class="govuk-table__cell">Discovery</td>
                    <td class="govuk-table__cell">{{ x | date()| fromNow }}</td>
                </tr>  
            </tbody>
        </table>

    </div>
</div>