<div class="govuk-summary-card">
    <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">Services you're assessing</h2>
        
    </div>
    <div class="govuk-summary-card__content">

        <table class="govuk-table">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Service</th>
                    <th scope="col" class="govuk-table__header">Type</th>
                    <th scope="col" class="govuk-table__header">Phase</th>
                    <th scope="col" class="govuk-table__header">Review date</th>
                    <th scope="col" class="govuk-table__header">Status</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
              
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header"><a href="">My draft</a></th>
                    <td class="govuk-table__cell">Peer review</td>
                    <td class="govuk-table__cell">Discovery</td>
                    <td class="govuk-table__cell">Tue 20 Jun 2023 at 10am</td>
                    <td class="govuk-table__cell"><strong class="govuk-tag">Draft</strong></td>
                </tr>  
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header"><a href="">Become a teacher in England</a></th>
                    <td class="govuk-table__cell">Peer review</td>
                    <td class="govuk-table__cell">Discovery</td>
                    <td class="govuk-table__cell">Tue 20 Jun 2023 at 10am</td>
                    <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--yellow">In progress</strong></td>
                </tr>  
            </tbody>
        </table>

    </div>
</div>