<div class="govuk-summary-card">
    <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">Assurance timeline</h2>
    </div>
    <div class="govuk-summary-card__content">
        <div class="dfe-timeline">
            <ol>
                <li class="current">
                    <h3 class="govuk-heading-s">Discovery</h3>
                    <p>Current phase</p>
                </li>
                <li>
                    <h3 class="govuk-heading-s">Alpha</h3>
                </li>
                <li>
                    <h3 class="govuk-heading-s">Private Beta</h3>
                </li>
                <li>
                    <h3 class="govuk-heading-s">Public Beta</h3>
                </li>
                <li>
                    <h3 class="govuk-heading-s">Live</h3>
                </li>
            </ol>
        </div>
    </div>
</div>