<div class="govuk-summary-card">
    <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">Request details</h2>
        <ul class="govuk-summary-card__actions">
            <li class="govuk-summary-card__action">
                <a class="govuk-link" href="#">Change <span class="govuk-visually-hidden"> details in the submission</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Requested by</dt>
                <dd class="govuk-summary-list__value">Callum Mckay</dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Submitted</dt>
                <dd class="govuk-summary-list__value">15 May 2023</dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Project code</dt>
                <dd class="govuk-summary-list__value">DDAT23/24-123</dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Portfolio</dt>
                <dd class="govuk-summary-list__value">Ops and Infrastructure</dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Business partner</dt>
                <dd class="govuk-summary-list__value">Ryan Gosling</dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Delivery manager</dt>
                <dd class="govuk-summary-list__value">Wade Wilson</dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Product manager</dt>
                <dd class="govuk-summary-list__value">Barry White</dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Deputy director</dt>
                <dd class="govuk-summary-list__value">Greg James</dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">SRO</dt>
                <dd class="govuk-summary-list__value">Greg James</dd>
            </div>
        </dl>
    </div>
</div>