       {% set noTasks = "true" %}

  {% for request in new_records %}

         {% set noTasks = "false" %}
         {% endfor %}

            {% for request in active_records %}

                {% if request.fields.Status !== "New" and request.fields.SubStatus === "SAT Review"%}

                  {% set noTasks = "false" %}
                {%elseif  request.fields.Status !== "New" and request.fields.SubStatus === "SAT Publish"%}

                  {% set noTasks = "false" %}
                {% endif %}

            {% endfor %}

            {% if noTasks === "false" %}





<div class="govuk-summary-card">
    <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">Your actions</h2>
    </div>
    <div class="govuk-summary-card__content">

 


        {% for request in new_records %}

         {% set noTasks = "false" %}

            <div class="chevron-card chevron-card-full">
                <div class="chevron-card__wrapper">
                    <h3 class="govuk-heading-s govuk-!-margin-bottom-2">
                        <a class="govuk-link chevron-card__link" href="/admin/entry/{{request.fields.ID}}">New discovery peer review request <span class="govuk-visually-hidden"> for {{request.fields.Name}}</span></a>
                    </h3>

                    <p class="govuk-body chevron-card__description">{{request.fields.Name}}</p>
                </div>
            </div>

            {% endfor%}

            {% for request in active_records %}

                {% if request.fields.Status !== "New" and request.fields.SubStatus === "SAT Review"%}

                  {% set noTasks = "false" %}

                    <div class="chevron-card chevron-card-full">
                        <div class="chevron-card__wrapper">
                            <h3 class="govuk-heading-s govuk-!-margin-bottom-2">
                                <a class="govuk-link chevron-card__link" href="/admin/report/preview/{{request.fields.ID}}">Check report and send to team <span class="govuk-visually-hidden"> for {{request.fields.Name}}</span></a>
                            </h3>

                            <p class="govuk-body chevron-card__description">{{request.fields.Name}}</p>
                        </div>
                    </div>
                {%elseif  request.fields.Status !== "New" and request.fields.SubStatus === "SAT Publish"%}

                  {% set noTasks = "false" %}
                    <div class="chevron-card chevron-card-full">
                        <div class="chevron-card__wrapper">
                            <h3 class="govuk-heading-s govuk-!-margin-bottom-2">
                                <a class="govuk-link chevron-card__link" href="/admin/report/preview/{{request.fields.ID}}">Publish assessment report <span class="govuk-visually-hidden"> for {{request.fields.Name}}</span></a>
                            </h3>

                            <p class="govuk-body chevron-card__description">{{request.fields.Name}}</p>
                        </div>
                    </div>
                  
                {% endif %}

            {% endfor %}

            {% if noTasks === "true" %}
<p>There are no tasks requiring your attention.</p>
            {% endif%}

        </div>
    </div>    {% endif%}