{% extends "layouts/admin-layout.html" %}

{% set pageName = "Assessor activity" %}
{% set selectedNav = "assessors" %}
{% set setSelectedSideNav = "reporting" %}
{% set backlog_issue_id = "" %}

{% set showGenericNav = "true" %}
{% set showmasthead = "true"%}
{% block sidebar %}

  {% include "partials/nav.html" %}

{% endblock %}

{% block masthead %}

  <div class="main--inside-container">

    <h1 class="govuk-heading-xl govuk-!-margin-top-3 govuk-!-margin-bottom-3 govuk-!-font-size-36">{{assessor.fields.Name}}</h1>
    <table class="govuk-table">
                    <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <th scope="col" class="govuk-table__header">Role</th>
                            <th scope="col" class="govuk-table__header">Lead</th>
                            <th scope="col" class="govuk-table__header">Cross-gov assessor</th>
                            <th scope="col" class="govuk-table__header">Discovery</th>
                            <th scope="col" class="govuk-table__header">Alpha</th>
                            <th scope="col" class="govuk-table__header">Private beta</th>
                            <th scope="col" class="govuk-table__header">Public beta</th>
                            <th scope="col" class="govuk-table__header">Live</th>
                        </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">{{assessor.fields.AssessorRole}}</td>
                            <td class="govuk-table__cell">{{assessor.fields.Lead | BoolToYesBlank}}</td>
                            <td class="govuk-table__cell">{{assessor.fields.CrossGovAssessor  | BoolToYesBlank}}</td>
                            <td class="govuk-table__cell">{{assessor.fields.Discovery}}</td>
                            <td class="govuk-table__cell">{{assessor.fields.Alpha}}</td>
                            <td class="govuk-table__cell">{{assessor.fields.PublicBeta}}</td>
                            <td class="govuk-table__cell">{{assessor.fields.PrivateBeta}}</td>
                            <td class="govuk-table__cell">{{assessor.fields.Live}}</td>
                        </tr>
                    </tbody>
                </table>
  </div>

{% endblock %}

{% block content %}

    <div class="main--inside-container">

        <div class="govuk-grid-row">

            <div class="govuk-grid-column-full">
               

                 <h2 class="govuk-heading-m">Assessment history</h2>

 <table class="govuk-table">

                    <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <th scope="col" class="govuk-table__header govuk-!-width-one-half">Service</th>
                            <th scope="col" class="govuk-table__header">Phase</th>
                            <th scope="col" class="govuk-table__header">Date</th>
                            <th scope="col" class="govuk-table__header">Status</th>
                            <th scope="col" class="govuk-table__header">Outcome</th>
                        </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                        {% for record in all %}
                            <tr class="govuk-table__row">
                                <th scope="row" class="govuk-table__header cell-name">
                                    <a href="/admin/entry/{{record.fields.ID}}" class="govuk-link">{{record.fields.Name}}</a>
                                </th>
                                <td class="govuk-table__cell">{{record.fields.Phase}}</td>
                                <td class="govuk-table__cell">{% if record.fields.ReviewDate %}{{(record.fields.ReviewDate + " " + record.fields.ReviewTime) | date("h:mm A")}} on {{record.fields.ReviewDate | date('ddd D MMM YYYY')}} {% else%}No date{% endif %}</td>

                                <td class="govuk-table__cell">{{record.fields.Status}}</td>
                                <td class="govuk-table__cell cell-status">{% if record.fields.Outcome %}
                                    <strong class="govuk-tag govuk-tag--{{record.fields.Outcome | lower}}">{{record.fields.Outcome}}</strong>{% else%} <strong class="govuk-tag govuk-tag--grey">Not yet assessed</strong>{%endif%}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>
    </div>

{% endblock %}