{% extends "layouts/admin-layout.html" %}

{% set pageName = "Dashboard" %}
{% set selectedNav = "dashboard" %}
{% set setSelectedSideNav = "" %}
{% set backlog_issue_id = "" %}

{% block sidebar %}

    {% include "partials/nav.html" %}

{% endblock %}

{% block masthead %}

    <div class="main--inside-container">
        <h1 class="govuk-heading-l ">Dashboard</h1>
    </div>

{% endblock %}

{% block content %}

    <div class="main--inside-container">

        <div class="govuk-grid-row">

            <div class="govuk-grid-column-full"></div>
        </div>

        <div class="govuk-grid-row">

            <div class="govuk-grid-column-two-thirds">

                {% include "panel/partials/_assessments_list.html" %}

                <h2 class="govuk-heading-m govuk-!-margin-top-9 govuk-!-margin-bottom-5">Volunteer for a service assessment</h2>

                <p>You can <a href="/generic/assessments">check upcoming assessments</a> that require assessors and request to volunteer.</p>

               
                 </div>

                <div class="govuk-grid-column-one-third">

                    <h2 class="govuk-heading-m">Other resources and guidance</h2>

                       <div class="chevron-card">
                            <div class="chevron-card__wrapper">
                                <h3 class="gem-c-heading govuk-heading-s govuk-!-margin-bottom-2">
                                    <a class="govuk-link chevron-card__link"  href="https://apply-the-service-standard.education.gov.uk/">Assessing against standards</a>
                                </h3>

                                <p class="govuk-body chevron-card__description">How to understand, apply, and assure against Service Standards and other departmental standards.</p>
                            </div>
                        </div>

                    <div class="chevron-card">
                            <div class="chevron-card__wrapper">
                                <h3 class="gem-c-heading govuk-heading-s govuk-!-margin-bottom-2">
                                    <a class="govuk-link chevron-card__link"  href="/admin/assessors">Assessor checklists</a>
                                </h3>

                                <p class="govuk-body chevron-card__description">Checklists for discovery, alpha, and beta assessments for assessors.</p>
                            </div>
                        </div>

                         <h2 class="govuk-heading-m">Profession-specific guidance</h2>

                    <ul class="govuk-list govuk-list--spaced">
                        <li>
                            <a href="https://design.education.gov.uk/" target="_blank">Design Manual</a>
                        </li>
                        <li>
                            <a href="https://user-research.education.gov.uk/" target="_blank">User Research in DfE</a>
                        </li>
                        <li>
                            <a href="https://technical-guidance.education.gov.uk/" target="_blank">DfE Technical Guidance</a>
                        </li>
                        <li>
                            <a href="https://dfe-digital.github.io/architecture/#dfe-architecture" target="_blank">DfE Architecture</a>
                        </li>
                        <li>
                            <a href="https://design-system.service.gov.uk/" target="_blank">GOV.UK Design System</a>
                        </li>
                        <li>
                            <a href="https://www.gov.uk/service-manual" target="_blank">GOV.UK Service Manual</a>
                        </li>

                    </ul>

                </div>

            </div>
        </div>

    {% endblock %}