{% extends "layouts/admin-layout.html" %}

{% set pageName = entry.fields.Name %}
{% set selectedNav = "report" %}
{% set setSelectedSideNav = "" %}
{% set backlog_issue_id = "" %}
{% set reportStep = 4%}
{% set showEntryNav = "true"%}

{% set showmasthead = "true"%}
{% block sidebar %}

    {% include "partials/nav.html" %}
    {% include "admin/partials/_admin_nav.html" %}
{% endblock %}

{% block masthead %}

    <div class="main--inside-container">
        {% include "admin/partials/_admin_entry_header.html" %}
    </div>

{% endblock %}

{% block content %}

    <div class="main--inside-container">

        <div class="govuk-grid-row">
              <div class="govuk-grid-column-full">

         <h2 class="govuk-heading-l">Assessment report</h2>
        </div>

             <div class="govuk-grid-column-one-quarter">

                {% include "admin/partials/_report_timeline.html" %}
            </div>
            <div class="govuk-grid-column-one-half">

             <form action="/admin/improve/{{entry.fields.ID}}" method="post">
                    <input type="hidden" name="entryid" value="{{entry.id}}"/>

<div class="govuk-form-group">
  <h2 class="govuk-label-wrapper">
    <label class="govuk-label govuk-label--m" for="improve">
      What does the team need to improve?
    </label>
  </h2>
  <div id="more-detail-hint" class="govuk-hint">
    Include specific information to support the team and links to resources or guidance where appropriate. Read <a href="https://dfe-standards-manual-prototype.herokuapp.com/service-assurance/after-discovery-peer-review/complete-report" target="_blank">guidance on writing the report</a>.
  </div>
  <textarea class="govuk-textarea" id="improve" name="improve" rows="15" aria-describedby="improve-hint">{{entry.fields.ReviewImprove}}</textarea>
</div>

 <div class="govuk-button-group">
            <button class="govuk-button" data-module="govuk-button">
            Save and continue
            </button>
         </div>
                </form>

             
                {# <pre id="output"></pre>
                <div id="message"></div> #}

            </div>

              <div class="govuk-grid-column-one-quarter">

                 <h2 class="govuk-heading-m">Information</h2>

                        {% include "admin/partials/_admin_description_ro.html" %}

                {% include "admin/partials/_admin_team.html" %}

            </div>
        </div>

    </div>

{# 
  <script src="/assets/js/socket.io.min.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', () => {
      const socket = io();

      const textbox = document.getElementById('improve');
      const output = document.getElementById('output');
      const message = document.getElementById('message');

      // Receive the initial text
      socket.on('initialText', text => {
        textbox.value = text;
      });

      // Update the text when other users make changes
      socket.on('updatedText', text => {
        textbox.value = text;
      });

      // Send the updated text to the server
      textbox.addEventListener('input', () => {
        const newText = textbox.value;
        socket.emit('updateText', newText);
      });

      // Display save status message
      socket.on('saveStatus', status => {
        message.textContent = status;
      });

       socket.emit('requestInitialText');
    });
  </script> #}


{% endblock %}